.EventListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--text-light);
    background-color: var(--white);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    font-size: 4vmin;
  }
  
  .EventListItem .image
   {
    height: 20vw;
    width: 20vw;
    font-size: 2vw;
    margin: 3vmin;
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
  }
  .EventListItem .name {
    font-size: 3vmin; 
    margin-left: 5vw;
    
  }
  .EventListItem .buy {
    display: flex;
    flex-direction: column;
  }
  
  .EventListItem .buy {
    font-size: 1.7vw;
    text-align: center;
    color: var(--text-light);
  }
  
  
  