.TableList {
    display: grid;
    grid-template-rows: repeat(4, 0.5fr);
    grid-template-columns: repeat(5, 0.5fr);
    align-items: center;
    justify-items: center;
    margin-top: 4px;
    padding: 9px;
    height: 40vw;
    width: 40vw;
    border: solid;
}

.ticketinfo {
    display: flex;
    flex-direction: column;
    border: dotted;
    width: 40vw;
    margin: 6vw;
    margin-left: 0;
} 


.flex{
    display: flex;
    margin-top: 5vw;
    margin-bottom: 10vw;
}

.header {
    height: 10vw;
    font-size: 50px;
    margin-top: 30px;
}