.TableList {
    display: grid;
    grid-template-rows: repeat(4, 0.5fr);
    grid-template-columns: repeat(5, 0.5fr);
    align-items: center;
    justify-items: center;
    margin-top: 4px;
    height: 40vw;
    width: 60vw;
    border: solid var(--grey);
}

.ticketinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 40vw;
    margin-top: 8vw;
} 

.stage {
    background-color: var(--grey);
    color: var(--text-light);
    height: 7vw;
    width: 40vw;
    margin-left: 10vw;
    
}

.flex{
    display: flex;
}

.header {
    color: var(--grey);
    height: 10vw;
    font-size: 20px;
    margin-top: 5px;
}